.root {
    --primary: #091235
}

body {

    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.user{
    height: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
}
nav ul li a:hover {
    text-decoration: none;
    color: var(--primary);
    transition: 0.3s;
    
}

.containers {
    display: flex;
    height: 500px;
    padding: 20px 70px;
}

.left-container {
    width: 50%;
    padding-right: 70px;
    color: whitesmoke;
}

.right-container {
    width: 50%;
}

.right-container img{
    max-width: 100%;
    box-shadow: 10px 10px 50px 5px lightblue;
}

.left-container button{
    width: 200px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    color: whitesmoke;
    border-color: whitesmoke;
    border-style: solid;
    border-radius: 7px;
    border-width: 4px;
}
.left-container button:hover{
    background-color: whitesmoke;
    color: var(--primary);
}

.padding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: auto;
    padding-bottom: auto;
}

.login{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    background-color: whitesmoke;
    border-radius: 20px;
}